extends layout

block content
  h1= title
  - let items = results;
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        - let destination = `dispatch(\"/car/update?id=${item._id}\")`
        div(class="col-sm-2" class="m-1")
          h3 #{item.car_name}
          p #{item.Count}
          p #{item.Car_type}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
      console.log(path);
      window.location.href=path;
    }