extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let carid = toShow._id 
    - let car_name = toShow.car_name
    - let Count = toShow.Count
    - let Car_type = toShow.Car_type
    - let actionid = "/resource/car/" + carid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='carAttr mr-3') car ID is: 
        div #{carid}
      div.row 
        div(class='carAttr mr-3') car car_name is: 
        div #{car_name}  
      div.row 
        div(class='carAttr mr-3') car Count is: 
        div #{Count}  
      div.row 
        div(class='carAttr mr-3') car Car_type is: 
        div #{Car_type} 
      
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the car collection 
      window.location.href='/car' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'  
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/car' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }