extends layout
block content
 h1= title
 - let carid = toShow._id
 - let car_name = toShow.car_name
 - let Count = toShow.Count
 - let Car_type = toShow.Car_type
 div
 div.row
 div(class='carAttr mr-3') car ID is:
 div #{carid}
 div.row
 div(class='carAttr mr-3') car_name is:
 div #{car_name}
 div.row
 div(class='carAttr mr-3') Count is:
 div #{Count}
 div.row
 div(class='carAttr mr-3') Car_type is:
 div #{Car_type}
